body {
  margin: 0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

:root {
  --color-primary: #7cbd65;
  --color-primary-variant: #468a2d;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-light: rgba(255, 255, 255, 0.6);
  --color-gray: #dddddd;
  --color-red: rgb(252, 49, 49);

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;

  --transition: all 400ms ease;
}

.container {
  width: 100vw;
  height: 100vh;

  transition: var(--transition);
}

.btn {
  cursor: pointer;
}

.btn-transparent {
  border: 1px solid var(--color-black);
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  background-color: transparent;
}

.btn-transparent:hover {
  color: var(--color-white);
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0%;
  min-width: 8rem;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content p {
  color: black;
  padding: 0.5rem 1rem;
  margin: 0;
  text-decoration: none;
  display: block;
  text-align: right;
  cursor: pointer;
}

.dropdown-content p:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.dropdown:hover .dropdown-content {display: block;}

a {
  transition: var(--transition);
}